# Draft on how to get data

In [1]:
# pandas, pandas_datareader, numpy and matplotlib
import numpy as np
import pandas as pd
from matplotlib import pyplot

## panda data reader

In [2]:
import pandas_datareader.data as web

In [3]:
stk_tickers = ['MSFT', 'IBM', 'GOOGL']
ccy_tickers = ['DEXJPUS', 'DEXUSUK']
idx_tickers = ['SP500', 'DJIA', 'VIXCLS']

stk_data = web.DataReader(stk_tickers, 'yahoo')
ccy_data = web.DataReader(ccy_tickers, 'fred')
idx_data = web.DataReader(idx_tickers, 'fred')

TypeError: string indices must be integers

In [7]:
stk_data

Attributes   Adj Close                              Close              \
Symbols           MSFT         IBM      GOOGL        MSFT         IBM
Date
2017-11-24   78.407181  114.223793  52.826000   83.260002  145.162521
2017-11-27   78.981628  114.329102  53.600498   83.870003  145.296371
2017-11-28   79.932777  114.697701  53.164501   84.879997  145.764816
2017-11-29   78.482521  115.510124  51.868999   83.339996  146.797318
2017-11-30   79.264145  115.826080  51.808498   84.169998  147.198853
...                ...         ...        ...         ...         ...
2022-11-15  241.290009  144.339996  98.440002  241.970001  144.339996
2022-11-16  241.729996  144.520004  98.849998  241.729996  144.520004
2022-11-17  241.679993  146.089996  98.360001  241.679993  146.089996
2022-11-18  241.220001  147.639999  97.430000  241.220001  147.639999
2022-11-21  242.050003  146.679993  95.599998  242.050003  146.679993

Attributes                   High                                 Low  \
Symbols         GOOGL        MSFT         IBM       GOOGL        MSFT
Date
2017-11-24  52.826000   83.430000  145.506699   53.003502   82.779999
2017-11-27  53.600498   83.980003  145.783936   53.652000   83.300003
2017-11-28  53.164501   85.059998  146.204590   54.000000   84.019997
2017-11-29  51.868999   84.919998  146.854691   52.938499   83.180000
2017-11-30  51.808498   84.519997  147.619507   52.207001   83.339996
...               ...         ...         ...         ...         ...
2022-11-15  98.440002  247.000000  146.160004  100.139999  240.029999
2022-11-16  98.849998  243.800003  144.949997   99.639999  240.419998
2022-11-17  98.360001  243.250000  146.179993   99.279999  237.630005
2022-11-18  97.430000  243.740005  148.309998   98.900002  239.029999
2022-11-21  95.599998  244.669998  147.929993   98.400002  241.190002

Attributes                               Open                         \
Symbols            IBM      GOOGL        MSFT         IBM      GOOGL
Date
2017-11-24  144.674957  52.596001   83.010002  145.267685  52.719501
2017-11-27  144.952194  52.738499   83.309998  145.372849  52.928501
2017-11-28  145.028687  52.727001   84.070000  145.650101  53.699501
2017-11-29  145.478012  51.482498   84.709999  146.089859  52.808998
2017-11-30  146.347992  51.503502   83.510002  146.892929  51.997002
...                ...        ...         ...         ...        ...
2022-11-15  142.000000  96.709999  245.660004  144.080002  98.260002
2022-11-16  144.009995  97.639999  242.789993  144.130005  97.900002
2022-11-17  143.250000  96.790001  237.779999  143.410004  96.970001
2022-11-18  145.940002  96.370003  243.509995  146.559998  98.769997
2022-11-21  146.449997  95.360001  241.429993  147.550003  97.290001

Attributes      Volume
Symbols           MSFT        IBM       GOOGL
Date
2017-11-24   7425600.0  1247878.0  16492000.0
2017-11-27  18265200.0  3529204.0  35430000.0
2017-11-28  21926000.0  4156490.0  36424000.0
2017-11-29  27381100.0  5333240.0  55866000.0
2017-11-30  33054600.0  6799837.0  45092000.0
...                ...        ...         ...
2022-11-15  31390100.0  4727100.0  41640800.0
2022-11-16  24093300.0  3445200.0  29105200.0
2022-11-17  23123500.0  3954000.0  26052600.0
2022-11-18  27591800.0  4659700.0  28328800.0
2022-11-21  26378300.0  3475700.0  21626600.0

[1257 rows x 18 columns]

In [8]:
ccy_data

            DEXJPUS  DEXUSUK
DATE
2017-11-23      NaN      NaN
2017-11-24   111.54   1.3336
2017-11-27   111.00   1.3333
2017-11-28   111.13   1.3231
2017-11-29   111.75   1.3436
...             ...      ...
2022-11-14   140.43   1.1728
2022-11-15   139.36   1.1890
2022-11-16   139.59   1.1889
2022-11-17   140.45   1.1812
2022-11-18   140.03   1.1902

[1302 rows x 2 columns]

In [9]:
idx_data

              SP500      DJIA  VIXCLS
DATE
2017-11-23      NaN       NaN     NaN
2017-11-24  2602.42  23557.99    9.67
2017-11-27  2601.42  23580.78    9.87
2017-11-28  2627.04  23836.71   10.03
2017-11-29  2626.07  23940.68   10.70
...             ...       ...     ...
2022-11-15  3991.73  33592.92   24.54
2022-11-16  3958.79  33553.83   24.11
2022-11-17  3946.56  33546.32   23.93
2022-11-18  3965.34  33745.69   23.12
2022-11-21  3949.94  33700.28     NaN

[1303 rows x 3 columns]

Avantages : simple, infos financières complètes tous les jours

## Yahoo finance api

In [3]:
import yfinance as yf

In [15]:
pfe = yf.Ticker('AAPL')
pfe.info

{'regularMarketPrice': None,
 'preMarketPrice': None,
 'logo_url': '',
 'trailingPegRatio': 2.5348}

In [12]:
pfe.info['beta']

KeyError: 'beta'

In [13]:
pfe.info['currency']

KeyError: 'currency'

In [16]:
pfe.news

[{'uuid': '53e7b36c-9958-353f-9670-5a8270810e42',
  'title': 'FDA Authorizes Updated Covid-19 Vaccines for Children as Young as 6 Months',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/53e7b36c-9958-353f-9670-5a8270810e42/fda-authorizes-updated.html',
  'providerPublishTime': 1670532240,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/w67E0673df9XBljfZKK3UA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/241bdb7226ffaebf696e0b80dc63be51',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/nzvjpmglI1fpRq.3AnCN.Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/241bdb7226ffaebf696e0b80dc63be51',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['PFE', 'BNTX', 'MRNA']},
 {'uuid': 'fec1bdd5-b467-34c8-98e9-9ef505cadfea',
  'title': 'Will There be a Recession in 2023?',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/recession-2023-191607627.html',
  'providerPublishTime': 1670526967,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/5LdBhN8ohUJJLY3R5Gb_qw--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/66c08374f24c141e677a408056bcdc8c',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/vcq1RRNPjy91z49ClyOugA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/66c08374f24c141e677a408056bcdc8c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['LLY', 'JPM', 'ULTA', 'PFE']},
 {'uuid': '91ddd832-f239-38cb-803b-1b3bbcfff05d',
  'title': "FDA Authorizes Pfizer/BioNTech And Moderna's Bivalent COVID Shots For 6 Months Old",
  'publisher': 'Benzinga',
  'link': 'https://finance.yahoo.com/news/fda-authorizes-pfizer-biontech-modernas-181836690.html',
  'providerPublishTime': 1670523516,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/hDXAoGlN.eJ8DjzJC00gZA--~B/aD00MDA7dz02MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/Benzinga/27b6c8a54aee53daf73f58a71bf2e587',
     'width': 600,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/9572Ijx8MlIgNPW.fVdX_A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/27b6c8a54aee53daf73f58a71bf2e587',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['BNTX', 'PFE', 'MRNA']},
 {'uuid': 'f7731017-9915-39f1-a016-225f42457312',
  'title': 'FDA Just Authorized Moderna, Pfizer Bivalent Vaccines for Kids Under 5. The Pandemic Is Not Yet Over.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/f7731017-9915-39f1-a016-225f42457312/fda-just-authorized-moderna%2C.html',
  'providerPublishTime': 1670518020,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/81TiqKef77ElKoA7cbEZkQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/2fbb1f0042192be4ad6816ddcf50bae4',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/BirAyzT.6YwusjhlQImZiQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/2fbb1f0042192be4ad6816ddcf50bae4',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['PFE', 'MRNA']},
 {'uuid': '4324f2c6-e9d8-3303-803d-a95cda9776ea',
  'title': 'Foxconn, which makes iPhones, reportedly urged Chinese government to loosen COVID restrictions',
  'publisher': 'MarketWatch',
  'link': 'https://finance.yahoo.com/m/4324f2c6-e9d8-3303-803d-a95cda9776ea/foxconn%2C-which-makes-iphones%2C.html',
  'providerPublishTime': 1670516940,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/oWke6EqG0j9FMVSD0qZ6iA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/ce83d8b6d45042d58712007304a23620',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/XfSAX3g4f2uW8ADX1Dz99w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/ce83d8b6d45042d58712007304a23620',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['2317.TW', 'PFE', 'BNTX', 'AAPL']},
 {'uuid': '20ca1531-c302-3067-8ede-1a71be6a714e',
  'title': 'GSK & Others Get Relief as US Court Dismisses Zantac Litigation',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/gsk-others-relief-us-court-160204399.html',
  'providerPublishTime': 1670515324,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/LQ_ww2eZjlMvbiXmaf.EDA--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/9d995582658bf49e50317a8120603e3e',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/H5j0X5VJ3peIo6cA0ud3Qg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/9d995582658bf49e50317a8120603e3e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['PFE']},
 {'uuid': '635b9d05-24d5-3117-84dd-d26da9b904c0',
  'title': "Pfizer (PFE) RSV Vaccine Candidate BLA Gets FDA's Priority Tag",
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/pfizer-pfe-rsv-vaccine-candidate-154803865.html',
  'providerPublishTime': 1670514483,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/IW5EhxEFuSd4V4nUFOhT_A--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/1e2f63f10f05b0390ba8b63bd4ef031c',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/AxvgHTECT_FnPZu0GsWG_A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/1e2f63f10f05b0390ba8b63bd4ef031c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['PFE']},
 {'uuid': '72442f64-0ec9-31ba-8fcd-b636359163c0',
  'title': 'Pfizer and BioNTech Receive U.S. FDA Emergency Use Authorization for Omicron BA.4/BA.5-Adapted Bivalent COVID-19 Vaccine in Children Under 5 Years',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/pfizer-biontech-receive-u-fda-154300527.html',
  'providerPublishTime': 1670514180,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/M38tulpOGUwulzfjJ3jCIQ--~B/aD0yMTI7dz00ODA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/business-wire.com/f0dac1d224e376b11071ec97a2419e3d',
     'width': 480,
     'height': 212,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/wx8zoXie1mKuJ17Q7CT8ew--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/business-wire.com/f0dac1d224e376b11071ec97a2419e3d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['BNTX', 'PFE']}]

In [ ]:
import datetime

datetime.datetime.fromtimestamp(1670532240)

In [20]:
pfe.history(period="50mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-09-24 00:00:00-04:00,35.720009,36.142731,35.630585,35.711880,18089591,0.0,0.0
2018-09-25 00:00:00-04:00,35.874458,36.004529,35.573678,35.598064,15318520,0.0,0.0
2018-09-26 00:00:00-04:00,35.638711,36.020786,35.476125,35.508640,18384817,0.0,0.0
2018-09-27 00:00:00-04:00,35.598068,35.915109,35.508645,35.687489,14887434,0.0,0.0
2018-09-28 00:00:00-04:00,35.711873,35.882589,35.549287,35.825684,15454591,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-15 00:00:00-05:00,49.340000,49.529999,48.180000,48.570000,25440500,0.0,0.0
2022-11-16 00:00:00-05:00,48.799999,49.060001,48.049999,48.049999,15822200,0.0,0.0
2022-11-17 00:00:00-05:00,47.799999,48.500000,47.529999,48.330002,13231100,0.0,0.0
2022-11-18 00:00:00-05:00,48.639999,48.830002,47.869999,48.230000,20664300,0.0,0.0
2022-11-21 00:00:00-05:00,48.099998,48.279999,47.720001,48.180000,14734600,0.0,0.0

In [16]:
yf.download('AAPL')
#yf.download('AAPL', start_date, end_date)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099874,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094663,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087715,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089886,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092492,73449600
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.860001,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,130.029999,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,126.040001,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.610001,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.929993,76960600

https://pythoninvest.com/long-read/exploring-finance-apis#popup:subscribe

## List of tickers

Suggestions : potentiellement faire un dictionnaire entre les noms des entreprises et leur acronyme sur la bourse

OU BIEN

utiliser get all tickers api ==> Marche pas

In [26]:
from get_all_tickers import get_tickers as gt

list_of_tickers = gt.get_tickers(NYSE=False, NASDAQ=False, AMEX=True)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 47

openbb marche bof